<div class="flex relative">
  <div class="flex-1 bg-[#DADADA]">
    <img
      class="w-full h-full object-contain"
      src="../../src/images/img8.png"
      alt=""
    />
  </div>
  <div
    class="bg-[#DADADA] flex flex-col flex-1 pl-20 gap-y-5 items-start justify-center"
  >
    <!-- separator -->
    <div
      class="absolute w-[2px] h-[105%] bg-black rotate-[18.25deg] left-[43.5%]"
    ></div>
    <!-- content -->
    <p class="font-poppins text-[#767676]">Women Collection</p>
    <p class="font-volkhov text-5xl text-[#484848]">Peaky Blinders</p>
    <p class="underline text-black font-poppins uppercase">DESCRIPTION</p>
    <p class="font-poppins text-[#767676]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque duis
      ultrices sollicitudin aliquam sem. Scelerisque duis ultrices sollicitudin.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque duis.
    </p>
    <div class="w-32 flex items-center gap-x-3">
      <span class="font-poppins text-[#767676]">Size: </span>
      <p class="font-poppins text-white px-5 rounded-md bg-black">M</p>
    </div>
    <a
      href=""
      class="bg-black rounded-xl w-52 h-14 mt-14 flex items-center justify-center hover:text-[#FF4646] font-poppins text-sm text-white shadow-xl shadow-[#bbbbbbcc]"
      >View More</a
    >
  </div>
</div>
<!-- Features -->
<div class="flex-1 py-20 flex items-center justify-evenly">
  <div class="flex items-center gap-x-3">
    <img src="../../src/icons/icon-1.png" alt="" />
    <!-- title -->
    <div>
      <p class="font-poppins text-[#484848] font-medium">High Quality</p>
      <p class="font-poppins text-[#484848]">crafted from top materials</p>
    </div>
  </div>
  <div class="flex items-center gap-x-3">
    <img src="../../src/icons/icon-2.png" alt="" />
    <!-- title -->
    <div>
      <p class="font-poppins text-[#484848] font-medium">Warrany Protection</p>
      <p class="font-poppins text-[#484848]">Over 2 years</p>
    </div>
  </div>
  <div class="flex items-center gap-x-3">
    <img src="../../src/icons/icon-3.png" alt="" />
    <!-- title -->
    <div>
      <p class="font-poppins text-[#484848] font-medium">Free Shipping</p>
      <p class="font-poppins text-[#484848]">Order over 150 $</p>
    </div>
  </div>
  <div class="flex items-center gap-x-3">
    <img src="../../src/icons/icon-4.png" alt="" />
    <!-- title -->
    <div>
      <p class="font-poppins text-[#484848] font-medium">24 / 7 Support</p>
      <p class="font-poppins text-[#484848]">Dedicated support</p>
    </div>
  </div>
</div>
