<a href="#" class="logo font-volkhov text-5xl text-[#484848]">FASCO</a>
<nav class="flex justify-center items-center gap-x-14">
  <!-- Menu -->
  <ul class="flex justify-center items-center gap-x-14">
    <li>
      <a
        href=""
        class="hover:text-[#FF4646] font-poppins text-sm text-[#484848]"
        >Home</a
      >
    </li>
    <li>
      <a
        href=""
        class="hover:text-[#FF4646] font-poppins text-sm text-[#484848]"
        >Deals</a
      >
    </li>
    <li>
      <a
        href=""
        class="hover:text-[#FF4646] font-poppins text-sm text-[#484848]"
        >New Arrivals</a
      >
    </li>
    <li>
      <a
        href=""
        class="hover:text-[#FF4646] font-poppins text-sm text-[#484848]"
        >Packages</a
      >
    </li>
    <li>
      <a
        href=""
        class="hover:text-[#FF4646] font-poppins text-sm text-[#484848]"
        >Sign in</a
      >
    </li>
  </ul>
  <!-- Sign Up -->
  <a
    href=""
    class="bg-black rounded-xl w-36 h-14 flex items-center justify-center hover:text-[#FF4646] font-poppins text-sm text-white shadow-xl shadow-[#bbbbbbcc]"
    >Sign Up</a
  >
</nav>
