@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Volkhov:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.cdnfonts.com/css/digital-numbers");
@tailwind base;
@tailwind components;
@tailwind utilities;
.header {
  @apply h-24 mx-56 flex justify-between items-center;
}
.footer {
  @apply py-10 border-t border-[#DEDFE1];
}
.gallery {
  @apply bg-gradient-to-b from-[#fafafa] to-white pt-32;
}
.subscribe {
  @apply flex items-center mx-56 mt-32;
}
.banner-middle {
  @apply mt-40;
}
.mini-cart {
  @apply fixed top-0 right-0 left-0 bottom-0 flex translate-x-[100%] opacity-0 transition-all z-[9999];
}
.bdt-active-dot {
  @apply rounded-full w-5 h-5 flex items-center justify-center border-black border transition-all;
}
.bdt-item-slide {
  @apply block w-[370px] h-[480px] flex-shrink-0 transition-all duration-1000;
}
.bdt-item-category {
  @apply w-52 h-14 bg-[#fafafa] rounded-xl text-[#8A8A8A] font-poppins;
}
.bdt-active-category {
  @apply bg-black text-white;
}
.item-card-testimonial {
  @apply w-[500px] h-[300px] rounded-xl flex items-center pr-5 blur-sm shadow-xl transition-all duration-500;
}
.active-card-testimonial {
  @apply blur-none;
}
.hidden-notification {
  @apply opacity-0 invisible;
}
.item-size {
  @apply font-poppins size-9 flex items-center justify-center cursor-pointer rounded-md text-black text-lg border;
}
.item-color {
  @apply border font-poppins px-3 py-2 flex items-center justify-center cursor-pointer rounded-md text-xs;
}
.active-item-photo {
  @apply border p-1 border-[#DA3F3F];
}
.item-pagination {
  @apply w-10 h-10 rounded-full flex items-center justify-center font-jost hover:text-red-500;
}
