<!-- form add product  -->
<div class="container rounded-2 mt-4">
  <div class="row row-cols-sm-1 row-cols-xl-2">
    <div class="col-6 shadow rounded-2 container py-5 px-5">
      <p class="fs-4">Thông tin sản phẩm</p>
      <form id="form-product">
        <div class="mb-3 col-xl-10 col-sm-12">
          <label for="name-product" class="form-label">Tên sản phẩm</label>
          <input type="text" id="name-product" class="form-control" required />
        </div>
        <div class="mb-3 col-xl-10 col-sm-12">
          <label for="brand-product" class="form-label">Hãng sản phẩm</label>
          <input type="text" id="brand-product" class="form-control" required />
        </div>
        <div class="mb-3 col-xl-10 col-sm-12">
          <label for="price-product" class="form-label">Giá sản phẩm</label>
          <input
            type="number"
            id="price-product"
            class="form-control"
            placeholder="$"
            required
          />
        </div>
        <div class="form-floating mb-3 col-xl-10 col-sm-12">
          <select
            class="form-select"
            id="sex-product"
            aria-label="Floating label select example"
          >
            <option selected value="men">Nam</option>
            <option value="women">Nữ</option>
          </select>
          <label for="sex-product">Vui lòng chọn giới tính</label>
        </div>
        <div class="form-floating mb-3 col-xl-10 col-sm-12">
          <select class="form-select" id="type-product">
            <option value="clothes">Quần áo</option>
            <option value="hats">Mũ</option>
            <option value="sandal">Dép Sandal</option>
            <option value="belt">Thắt lưng</option>
            <option value="bags">Túi</option>
            <option value="shoe">Giày</option>
            <option value="sunglasses">Kính</option>
            <option value="beachwear">Đồ bơi</option>
            <option value="other">Khác</option>
          </select>
          <label for="type-product">Vui lòng chọn loại sản phẩm</label>
        </div>
        <div class="mb-3 col-xl-10 col-sm-12 visually-hidden">
          <label for="type-other-product" class="form-label">Khác</label>
          <input type="text" id="type-other-product" class="form-control" />
        </div>
        <div class="form-floating mb-3 col-xl-10 col-sm-12">
          <textarea
            class="form-control"
            id="description-product"
            maxlength="200"
            style="height: 120px; max-height: 120px"
          ></textarea>
          <label for="description-product">Mô tả</label>
        </div>
        <button
          type="submit"
          class="btn btn-primary col-xl-10 col-sm-12 my-3"
          id="btn-add-new-product"
        >
          Thêm sản phẩm
        </button>
      </form>
    </div>
    <div
      class="col-6 shadow rounded-2 container py-5 px-5 overflow-y-scroll"
      style="height: 90vh"
    >
      <p class="fs-4">Phân loại sản phẩm</p>
      <div class="col-12">
        <label for="upload-photos-file" class="form-label">Ảnh sản phẩm</label>
        <input
          class="form-control"
          type="file"
          id="upload-photos-file"
          accept=".png, .jpg, .svg"
        />
      </div>
      <div id="card-photos-product" class="mt-2 row row-gap-4 g-4"></div>
    </div>
  </div>
  <!-- Modal show image -->
  <div class="modal fade" id="modal-show_image">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- <div class="modal-header"></div> -->
        <div class="modal-body">
          <!-- Content modal  -->
          <div class="col-12 mb-4" style="height: 500px">
            <img
              src=""
              alt=""
              width="100%"
              height="100%"
              style="object-fit: cover"
              class="rounded"
              id="image-product-modal"
            />
          </div>

          <div class="d-flex column-gap-3 mb-3 align-items-end">
            <div class="col-5">
              <label for="color-product-modal" class="form-label"
                >Màu sắc</label
              >
              <input
                type="text"
                id="color-product-modal"
                class="form-control"
              />
            </div>
            <div class="col-4">
              <label for="quantity-product-modal" class="form-label"
                >Số lượng</label
              >
              <input
                type="number"
                id="quantity-product-modal"
                class="form-control"
              />
            </div>
            <div class="d-flex flex-column col-2">
              <label for="size-product-modal">Kích thước</label>
              <select class="form-select mt-1" id="size-product-modal">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <button
            type="button"
            class="btn btn-primary"
            id="btn-save_changes"
            data-bs-dismiss="modal"
          >
            Lưu và thay đổi
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- form list product  -->
<div class="container rounded-2 mt-5">
  <div class="row">
    <div class="col-12 shadow rounded-2 container py-5 px-5">
      <p class="fs-4 mb-5">Danh sách sản phẩm</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="col-2">Tên sản phẩm</th>
            <th scope="col" class="col-1">Hãng</th>
            <th scope="col" class="col-1">Giá</th>
            <th scope="col" class="col-1">Giới tính</th>
            <th scope="col" class="col-2">Loại sản phẩm</th>
            <th scope="col" class="col-3">Mô tả</th>
            <th scope="col" class="col-1"></th>
          </tr>
        </thead>
        <tbody id="list-products">
          <!-- <tr>
            <td>1</td>
            <td>Mark</td>
            <td>100000</td>
            <td>@mdo</td>
            <td>Nguyễn Văn A</td>
            <td>Lorem ipsum dolor sit</td>
            <td>
              <div class="d-flex justify-content-end column-gap-3">
                <button class="rounded border">Sửa</button>
                <button class="rounded border">Xóa</button>
              </div>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
  <!-- Full screen modal edit product -->
  <div class="modal fade" id="modal-edit-product">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <!-- <div class="modal-header"></div> -->
        <div class="modal-body">
          <!-- Content modal  -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <button
            type="button"
            class="btn btn-primary"
            id="btn-save_changes"
            data-bs-dismiss="modal"
          >
            Lưu và thay đổi
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal delete product  -->
  <div class="modal fade" id="modal-delete-product">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header"><h3>Thông báo</h3></div>
        <div class="modal-body">
          <!-- Content modal  -->
          <p>Bạn có chắc chắn muốn xóa sản phẩm này không ?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Hủy
          </button>
          <button
            type="button"
            class="btn btn-primary"
            id="btn-confirm-delete"
            data-bs-dismiss="modal"
          >
            Xác nhận
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
