<!-- form list product  -->
<div class="container rounded-2 mt-3 mb-5">
  <div class="row">
    <div class="col-12 shadow rounded-2 container pb-5 px-5">
      <div class="col-6 d-flex items-center column-gap-5 my-4">
        <div
          class="col-6 rounded shadow px-4 py-3"
          style="background-color: #f5f5f5; height: 100px"
        >
          <h6 class="text-secondary">Số sản phẩm</h6>
          <p class="fs-3 fw-semibold">
            <i class="bi bi-card-list"></i>
            <span>1000</span>
          </p>
        </div>
      </div>
      <p class="fs-4 my-5">Danh sách sản phẩm</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="col-2">Tên sản phẩm</th>
            <th scope="col" class="col-1">Hãng</th>
            <th scope="col" class="col-1">Giá</th>
            <th scope="col" class="col-1">Giới tính</th>
            <th scope="col" class="col-2">Loại sản phẩm</th>
            <th scope="col" class="col-3">Mô tả</th>
            <th scope="col" class="col-1"></th>
          </tr>
        </thead>
        <tbody id="list-products"></tbody>
      </table>
    </div>
  </div>
  <!-- Full screen modal edit product -->
  <div class="modal fade" id="modal-edit-product">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <!-- <div class="modal-header"></div> -->
        <div class="modal-body">
          <!-- Content modal  -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <button
            type="button"
            class="btn btn-primary"
            id="btn-save_changes"
            data-bs-dismiss="modal"
          >
            Lưu và thay đổi
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal delete product  -->
  <div class="modal fade" id="modal-delete-product">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header"><h3>Thông báo</h3></div>
        <div class="modal-body">
          <!-- Content modal  -->
          <p>Bạn có chắc chắn muốn xóa sản phẩm này không ?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Hủy
          </button>
          <button
            type="button"
            class="btn btn-primary"
            id="btn-confirm-delete"
            data-bs-dismiss="modal"
          >
            Xác nhận
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- form add product  -->
<div class="container rounded-2 mt-4">
  <div class="row row-cols-sm-1 row-cols-xl-2">
    <div class="col-6 shadow rounded-2 container py-5 px-5">
      <p class="fs-4">Thông tin sản phẩm</p>
      <form id="form-product">
        <div class="mb-3 col-xl-10 col-sm-12">
          <label for="name-product" class="form-label">Tên sản phẩm</label>
          <input type="text" id="name-product" class="form-control" required />
        </div>
        <div class="mb-3 col-xl-10 col-sm-12">
          <label for="brand-product" class="form-label">Hãng sản phẩm</label>
          <input type="text" id="brand-product" class="form-control" required />
        </div>
        <div class="mb-3 col-xl-10 col-sm-12">
          <label for="price-product" class="form-label">Giá sản phẩm</label>
          <input
            type="number"
            id="price-product"
            class="form-control"
            placeholder="$"
            required
          />
        </div>
        <div class="form-floating mb-3 col-xl-10 col-sm-12">
          <select
            class="form-select"
            id="sex-product"
            aria-label="Floating label select example"
          >
            <option selected value="men">Nam</option>
            <option value="women">Nữ</option>
          </select>
          <label for="sex-product">Vui lòng chọn giới tính</label>
        </div>
        <div class="form-floating mb-3 col-xl-10 col-sm-12">
          <select class="form-select" id="type-product">
            <option value="clothes">Quần áo</option>
            <option value="hats">Mũ</option>
            <option value="sandal">Dép Sandal</option>
            <option value="belt">Thắt lưng</option>
            <option value="bags">Túi</option>
            <option value="shoe">Giày</option>
            <option value="sunglasses">Kính</option>
            <option value="beachwear">Đồ bơi</option>
            <option value="other">Khác</option>
          </select>
          <label for="type-product">Vui lòng chọn loại sản phẩm</label>
        </div>
        <div class="mb-3 col-xl-10 col-sm-12 visually-hidden">
          <label for="type-other-product" class="form-label">Khác</label>
          <input type="text" id="type-other-product" class="form-control" />
        </div>
        <div class="form-floating mb-3 col-xl-10 col-sm-12">
          <textarea
            class="form-control"
            id="description-product"
            maxlength="200"
            style="height: 120px; max-height: 120px"
          ></textarea>
          <label for="description-product">Mô tả</label>
        </div>
        <button
          type="submit"
          class="btn btn-primary col-xl-10 col-sm-12 my-3"
          id="btn-add-new-product"
        >
          Thêm sản phẩm
        </button>
      </form>
    </div>
    <div
      class="col-6 shadow rounded-2 container py-5 px-5 overflow-y-scroll"
      style="height: 90vh"
    >
      <p class="fs-4">Phân loại sản phẩm</p>
      <div class="col-12">
        <label for="upload-photos-file" class="form-label">Ảnh sản phẩm</label>
        <input
          class="form-control"
          type="file"
          id="upload-photos-file"
          accept=".png, .jpg, .svg"
        />
      </div>
      <div id="card-photos-product" class="mt-2 row row-gap-4 g-4"></div>
    </div>
  </div>
</div>
