<nav class="mx-56 flex items-center justify-between">
  <a
    href="../pages/index.html"
    class="logo font-volkhov text-3xl text-[#484848]"
    >FASCO</a
  >
  <!-- Menu -->
  <ul class="flex justify-center items-center gap-x-14">
    <li>
      <a
        href=""
        class="hover:text-[#FF4646] font-poppins text-base text-[#484848]"
        >Support Center</a
      >
    </li>
    <li>
      <a
        href=""
        class="hover:text-[#FF4646] font-poppins text-base text-[#484848]"
        >Invoicing</a
      >
    </li>
    <li>
      <a
        href=""
        class="hover:text-[#FF4646] font-poppins text-base text-[#484848]"
        >Contract</a
      >
    </li>
    <li>
      <a
        href=""
        class="hover:text-[#FF4646] font-poppins text-base text-[#484848]"
        >Careers</a
      >
    </li>
    <li>
      <a
        href=""
        class="hover:text-[#FF4646] font-poppins text-base text-[#484848]"
        >Blog</a
      >
    </li>
    <li>
      <a
        href=""
        class="hover:text-[#FF4646] font-poppins text-base text-[#484848]"
        >FAQ,s</a
      >
    </li>
  </ul>
</nav>
<!-- copyright -->
<p class="text-center font-poppins text-xs text-[#484848] mt-14">
  Copyright © 2022 Xpro . All Rights Reseved.
</p>
