<!-- title  -->
<div class="flex flex-col justify-center items-center gap-y-5 mb-20">
  <h1 class="font-volkhov text-[#484848] text-5xl">Follow Us On Instagram</h1>
  <p class="font-poppins text-[#8A8A8A] w-1/3 text-center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque duis
    ultrices sollicitudin aliquam sem. Scelerisque duis ultrices sollicitudin
  </p>
</div>
<!-- images -->
<div class="list-image flex items-center justify-between">
  <div class=""><img src="../../src/images/img10.png" alt="" /></div>
  <div class=""><img src="../../src/images/img12.png" alt="" /></div>
  <div class=""><img src="../../src/images/img13.png" alt="" /></div>
  <div class=""><img src="../../src/images/img14.png" alt="" /></div>
  <div class=""><img src="../../src/images/img15.png" alt="" /></div>
  <div class=""><img src="../../src/images/img11.png" alt="" /></div>
  <div class=""><img src="../../src/images/img9.png" alt="" /></div>
</div>
